---
import Layout from "layouts/Layout.astro";
import ContactItem from "@components/ContactItem.astro";


---

<Layout title="Conoce nuestras ubicaciones"
    description="">
    <main class="mt-30">
        <h2 class="text-primary text-center font-extrabold text-4xl">Contacto</h2>
        <ContactItem />
    </main>
</Layout>