---
import HomeScreen from '@components/HomeScreen.astro';
import Layout from '../layouts/Layout.astro';
import Ejes from '@components/Ejes.astro';
import DiscoverProduct from '@components/DiscoverProduct.astro';
import Certifications from '@components/Certifications.astro';
import Hire from '@components/Hire.astro';
---


<Layout title='Grupo Vida Clone'
    description=''>
	<main class="">
        <HomeScreen class="mb-8"/>
        <Ejes id="ejes" class="py-14 mx-15" />
        <DiscoverProduct />
        <Certifications class="py-14 mx-15"/>
        <Hire />
    </main>
</Layout>
