---
import Layout from '../layouts/Layout.astro';
import HomeValores from '@components/HomeValores.astro'
import ContentValores from '@components/ContentValores.astro'
---

<Layout title='Grupo Vida - Valores'
    description=''>
    <main>
        <HomeValores class="min-h-dvh" />
        <ContentValores />
    </main>
</Layout>