---
import banaerImg from '@imgs/banner.jpg'
import hechoMexicoImg from '@imgs/hechomextransparente.png'
---


<section>
    <a href="#">
        <div class="bg-fixed bg-center bg-cover w-full relative min-h-[30vh] xl:min-h-[80vh]"
            style={`background-image:url(${banaerImg.src})`}>
            <div class="absolute inset-0 flex flex-col justify-center items-center space-y-6">
                <img class="max-w-[300px] h-auto" src={hechoMexicoImg.src} />
                <h2 class="text-white text-5xl font-bold ">
                    Conoce Nuestros Productos
                </h2>
                
            </div>
        </div>
    </a>
</section>