---
import hireImg from '@imgs/hire-gvita.png';
---

<section class="mx-15">
    <h1 class="text-primary text-5xl text-center font-bold my-8">
        Trabaja con nosotros
    </h1>
    <div class="my-12 flex justify-center">
        <a class="no-underline"
            href="https://grupo-industrial-vida.pandape.computrabajo.com/"
            target="_blank">
            <img class="w-max h-max object-cover" 
                src={hireImg.src} 
                alt="Trabaja con nosotro"/>
        </a>
    </div>
</section>